


<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Buscar Pista</title>
<link rel="stylesheet" href="/practica3/css/registro.css">
<link rel="stylesheet" href="/practica3/css/header.css">
</head>
<body>


	
	

   

<header>
		<ul>
		  <li><a class="active" href="/practica3/mvc/view/perfil/perfilViewCliente.jsp">Inicio</a></li>
  		  <li><a class="active" href="/practica3/mvc/view/reserva/consultarReservasView.jsp">Consultar reservas</a></li>
  		  <li><a class="active" href="/practica3/mvc/view/pista/buscarPistaView.jsp">Buscar pista disponible</a></li>
  		  <li><a class="active" href="/practica3/mvc/view/reserva/realizarReservaIndividualView.jsp">Realizar reserva individual</a></li>
  		  <li><a class="active" href="/practica3/comprobarBonoControllerServlet">Realizar reserva con bono</a></li>
  		  <li><a class="active" href="/practica3/obtenerReservasUsuarioServlet?modificar=si">Modificar reserva</a></li>
  	  	  <li><a class="active" href="/practica3/obtenerReservasUsuarioServlet">Eliminar reserva</a></li>
  	  	  <li><a class="active" href="/practica3/mvc/control/login/logoutController.jsp">Cerrar Sesi&oacuten</a></li>
		</ul>
</header>
	
<div class="login">
	<h1>Pistas</h1>
			<table>
	  		<tr>
	  			<th><h3 class="tituloPerfil">Id Pista</h3></th>
	    		<th><h3 class="tituloPerfil">Nombre</h3></th>
	    		
	 		</tr>
	 		
	 			<tr>
	 				<td>1
</td>
	 				<td>Jerez
</td>
	 			</tr>
	 		
	 			<tr>
	 				<td>4
</td>
	 				<td>Valencia
</td>
	 			</tr>
	 		
	 			<tr>
	 				<td>7
</td>
	 				<td>Renombrada
</td>
	 			</tr>
	 		
	 		</table>
</div>				
				
</body>
</html>